body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-image: url(./firniture/Atuh\ beach\ at\ sunrise\ in\ Nusa\ penida\,\ Bali\,\ Indonesia\ _\ Free\ Photo.html);
    background-size: cover;
}
.about,.skills,.experencies{
    padding: 10px 60px;
    margin: 10px 150px;
    border: 20px;
}
.about{
    margin-top: 0;
}
.header{
    text-align: center;
    overflow: hidden;
    padding-top: 20px;
}
.header >.logo{
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.header .logo img{
    width: 100%;
    overflow: hidden;
    border: 50%;
}
.header hr{
    border-color: orange;
    width: 100px;
}
.header h1{
    color: orange;
}
.about{
    background: #fff;
    box-shadow: 0px 1px 5px rgba(50,50,50,0.2);
}
.skills{
    background: orange;
    color: #fff;
}
.experencies{
    color: #000;
    background: #fff;
    box-shadow:0px 1px 5px rgba(50,50,50,0.2) ;
}