body{
    
}

table tr,th,td{
    border: 1px solid black;  
}

caption{
    caption-side: bottom;
}
table{
    empty-cells: hide;
}
table{
    width: 300px;
    table-layout: fixed;
    
}
tr:hover{
    background-color: aquamarine;
}
tr:nth-child(even){
    background-color: green;
    color: white;
}
